{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
    {{ user.get_short_name }}'s Profile
{% endblock %}{% endblock %}

{% block main %}
<div class="col-md-6 mx-auto">
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0">Change Password</h3>
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="col">
                    <div class="col-12">
                        {{ form.old_password|as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.new_password1|as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.new_password2|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-danger">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}