{% extends 'blog/base.html' %}
{% load static %}
{% load ratings %}
{% block title %}
{% endblock %}

{% block main %}

{% block header %}
{% endblock %}

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            
{% block featured_post %}
{% endblock %}

    <!-- Nested row for non-featured blog posts-->
    {% for article in articles %}
    <div class="row">
        <div class="col-lg-6">
            <!-- Blog post-->
            <div class="card mb-4" style="max-width: 100%;">
                <a href="{% url 'blog:articleDetails' article.slug %}"><img class="card-img-top" src="{{article.thumbnail.url}} " alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted" style="direction: rtl; text-align: left;">{{article.jDateTime}}</div>
                    <h2 class="card-title h4">{{article.title}}
                    {% if article.is_VIP %}
                        <span class="badge bg-danger"  style="font-size: 10px">VIP</span>
                    {% endif %}
                    </h2>
                    <p class="card-text">
                        {% if article.is_VIP %}
                            {% if user.is_authenticated and user.is_VIP_user or user.is_superuser or user.is_authenticated and user.is_author %}
                                {{article.description | striptags | truncatewords:20}}
                            {% else %}
                                {{article.description | striptags | truncatewords:20}}
                                <p class="text-center bg-light w-75 mx-auto py-2">This article is VIP. <a href="#!" style="text-decoration: none">Upgrade your account.</a></p>
                            {% endif %}
                        {% else %}
                            {{article.description | striptags | truncatewords:20}}
                        {% endif %}
                    </p>
                    <div class="small pb-3" style="font-size:13px">
                        {% ratings article  %}
                    </div>
                    <p class="small text-muted">Written by: <a style="text-decoration: none;" href="{% url 'blog:authorPage' article.author %}">{{article.author.get_full_name}}</a></p>
                    <!-- Post categories-->
                    <div class="mb-1">
                        {% for category in article.category.active %}
                        <a class="text-decoration-none" href="{% url 'blog:categoryPage' category.slug %}">#{{category.title}}</a>
                        {% endfor %}
                    </div>
                    <a class="btn btn-primary" href="{% url 'blog:articleDetails' article.slug %}">Read more →</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0" />
        <ul class="pagination justify-content-center my-4">
            {% if articles.has_previous %}
            <li class="page-item"><a class="page-link" href="{% block first_page %}{% endblock %}">First</a></li>
            <li class="page-item"><a class="page-link" href="{% block previous_page %}{% endblock %}" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">First</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
            {% endif %}
            <li class="page-item disabled"><a style="color: black;" class="page-link" href="#" tabindex="-1" aria-disabled="true">Page {{articles.number}} of {{articles.paginator.num_pages}}</a></li>
            {% if articles.has_next %}
            <li class="page-item"><a class="page-link" href="{% block next_page %}{% endblock %}">Older &rarr;</a></li>
            <li class="page-item"><a class="page-link" href="{% block last_page %}{% endblock %}">Last</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Older &rarr;</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Last</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
        
{% endblock %}
