{% extends 'blog/base.html' %}
{% load comment_tags %}
{% block title %}
    Post | {{article.title}}
{% endblock %}
{% block main %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{article.title}}
                    {% if article.is_VIP %}
                        <span class="badge bg-danger"  style="font-size: 12px">VIP</span>
                    {% endif %}
                    </h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2" style="direction: rtl; text-align: left;">{{article.jDateTime}}</div>
                    <p class="small text-muted">Written by: <a style="text-decoration: none;" href="{% url 'blog:authorPage' article.author %}">{{article.author.get_full_name}}</a></p>
                    <!-- Post categories-->
                    <div>
                        {% for category in article.category.active %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'blog:categoryPage' category.slug %}">{{category.title}}</a>
                        {% endfor %}
                    </div>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{article.thumbnail.url}}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    {% if article.is_VIP %}
                        {% if user.is_authenticated and user.is_VIP_user or user.is_superuser or user.is_authenticated and user.is_author %}
                            <p class="fs-5 mb-4">{{article.description | safe | linebreaks}}</p>
                        {% else %}
                            <p class="fs-6 mb-4">{{article.description | striptags | truncatewords:40}}</p>
                            <p class="alert alert-warning text-center fs-5 mb-4 w-75 mx-auto">This article is VIP. <a class="alert-link" href="#!" style="text-decoration: none">Upgrade your account.</a></p>
                        {% endif %}
                    {% else %}
                        <p class="fs-5 mb-4">{{article.description | safe | linebreaks}}</p>
                    {% endif %}
                </section>
            </article>

            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        {% render_comments article request %}
                        {% comment %} {% include_bootstrap %} {% endcomment %}
                    </div>
                </div>
            </section>

            {% comment %} <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                <!-- Child comment 1-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                    </div>
                                </div>
                                <!-- Child comment 2-->
                                <div class="d-flex mt-4">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When you put money directly to a problem, it makes a good headline.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Single comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                            <div class="ms-3">
                                <div class="fw-bold">Commenter Name</div>
                                When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                            </div>
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}
            
        </div>
        
{% endblock %}